:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  justify-items: center;
  align-items: center;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f1f1f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 2rem 1rem;
}

.appContainer {
  min-height: 100vh;
}

.playlistForm {
  display: inline-flex;
  align-items: center;
}

.formButton {
  margin-left: 1em;
  padding: .8em;
  border-radius: 20px;
}

.formInput {
  font-size: 1.5em;
  text-align: center;
  border-radius: 20px;
}

.playlistList{
  margin: auto;
  max-width: 80%;
}

.playlistList li {
  font-family:Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
}

.playlistList li:nth-child(odd) {
  background-color: #ffffff1e;

}